
	<% if (page != "home") { %>
		<div class="footer">
			<div class="container">
				<div class="social">
					<div class="social-link"><a href="https://www.linkedin.com/in/josiahrooney"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></div>
					<div class="social-link"><a href="https://github.com/JosiahRooney/"><i class="fa fa-github-square" aria-hidden="true"></i> GitHub</a></div>
					<div class="social-link"><a href="https://glot.io/users/josiahrooney/snippets"><i class="fa fa-code" aria-hidden="true"></i> Glot.io</a></div>
					<div class="social-link"><a href="http://codepen.io/Chaosrock/"><i class="fa fa-codepen" aria-hidden="true"></i> CodePen</a></div>
					<div class="social-link"><a href="mailto:josiahrooney@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a></div>
				</div>
				<p class="copyright">&copy; 2016 Josiah Rooney</p>
			</div>
		</div>
	<% } %>
	
    </div><!-- .main -->

    <!-- scripts -->
    <script src="/static/js/scripts.js"></script>
</body>
</html>