<% include partials/header %>

    <div class="about banner">
        
        <div class="container">
            
            <h1><i class="fa fa-info-circle" aria-hidden="true"></i> About Me <small>The Man, The Myth</small></h1>

            <div class="content col-md-8">

                <p>I'm Josiah. I'm the guy at the party playing with the dog and trying to make everyone feel welcome. I'm also likely to be the designated driver. Okay I don't know how I got off on a tangent about parties.</p>
                
                <p>Anyway! I'm a lover of all things technology. I am fascinated by artificial intelligence (or at least <a target="_blank" href="http://waitbutwhy.com/2015/01/artificial-intelligence-revolution-1.html">the closest thing we have to it</a>). Machine learning, 3D printing, augmented reality, virtual reality are all things that excite me.</p>
                
                <p>What do I do for fun? Videogames! I also love reading. Most of the time I spend raising my daughters (seven year old and four year old). They're already showing signs of geekiness which I find awesome. If you ask my seven year old how many zeroes are in the number googolplexian, she can tell you. If you ask my four year old, she'll probably blow you a raspberry and run away, but she knows! I swear.</p>
                
                <p>I'm an easy-going person. I get along well with everyone. Something about growing up in a big family made me want to make others feel comfortable and welcome. I hate excluding people. I love making people laugh. Laughing is my favorite activity.</p>

            </div>

            <div class="profile col-md-3 col-md-offset-1">
                <img src="../static/img/josiah.jpg" alt="">
                <p class="caption"><small>I am not an angry person, I just rarely smile in pictures! More often in Emoji :D</small></p>
            </div>

        </div>

    </div><!-- .about -->

<% include partials/footer %>