<% include partials/header %>

    <div class="contact banner">
        
        <div class="container">
            
            <h1><i class="fa fa-comment" aria-hidden="true"></i> Contact Me <small>What's "Updog"?</small></h1>

            <div class="content col-md-8">

                <p>The best way to reach me is via email. <a href="mailto:josiahrooney@gmail.com">josiahrooney <small>at</small> gmail.com</a>.</p>

                <p>The worst way to reach me is carrier pigeon.</p>

                <p>You could also use the links below.</p>

            </div>

        </div>

    </div><!-- .contact -->

<% include partials/footer %>