<% include partials/header %>

    <div class="intro">
        
        <div class="hero container">
            <h1 class="text-center">Hello!</h1>
            <img class="profile-img" src="../static/img/josiah.jpg" alt="">
            <p class="text-center">I'm Josiah</p>
            <p>I'm a full stack engineer looking to join your team! I am very skilled in object-oriented JavaScript, back end engineering in Python &amp; PHP, and I've got a wide range of skills in everything in between.</p>
            <p class="text-center"><a href="/code">See my code.</a></p>

            <div class="social">
                <div class="social-link"><a target="_blank" href="https://www.linkedin.com/in/josiahrooney"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>
                <div class="social-link"><a target="_blank" href="https://github.com/JosiahRooney/"><i class="fa fa-github-square" aria-hidden="true"></i></a></div>
                <div class="social-link"><a target="_blank" href="https://glot.io/users/josiahrooney/snippets"><i class="fa fa-code" aria-hidden="true"></i></a></div>
                <div class="social-link"><a target="_blank" href="http://codepen.io/Chaosrock/"><i class="fa fa-codepen" aria-hidden="true"></i></a></div>
                <div class="social-link email"><a target="_blank" href="mailto:josiahrooney@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></div>
            </div>
        </div><!-- .hero -->

    </div><!-- .intro -->

<% include partials/footer %>