<% include partials/header %>

    <div class="resume banner">

        <div class="container">

            <h1><i class="fa fa-paperclip" aria-hidden="true"></i> Resume <small>Full Stack Engineer</small></h1>

            <p class="lead">This is my professional resume. <a href="../static/josiah_rooney_resume.pdf" target="_blank" download>Download a copy</a>.</p>
            
            <div class="resume-frame">
                <iframe class="resume" src="https://docs.google.com/document/d/1Hv2W449yr5w-ze5W-xN5vcplicgJUtRDC9yVc1duydY/pub?embedded=true"></iframe>
            </div>

        </div>

    </div><!-- .resume.container -->

<% include partials/footer %>