<% include partials/header %>

<% if ( page == "tutorials") { %>
<li class="active"><a href="/tutorials"><i class="fa fa-wrench" aria-hidden="true"></i> Tutorials</a></li>
<% } else { %>
<li><a href="/tutorials"><i class="fa fa-wrench" aria-hidden="true"></i> Tutorials</a></li>
<% } %>    

<% include partials/footer %>