<% include partials/header %>

    <div class="work banner">
		
		<div class="container">
			
			<h1><i class="fa fa-briefcase" aria-hidden="true"></i> Work <small>Work Smarter, Not Harder</small></h1>

			<p>These are professional front end and full stack development projects I have built over the years.</p>

			<div class="work-items">
				
				<div class="work-item well row">
					<div class="col-md-6">
						<h3>Farrow Commercial <small>2016</small></h3>
						<p><strong>Role</strong></p>
						<p>WordPress Theme Developer, Programmer</p>
						<p><strong>Tech</strong></p>
						<p>WordPress, PHP, JavaScript, HTML, CSS</p>
						<p><strong>Link</strong></p>
						<p><a href="http://farrowcommercial.com">http://farrowcommercial.com</a></p>
					</div>
					<div class="col-md-6">
						<img class="work-image" src="/static/img/farrow.jpg" alt="">
					</div>
				</div>
				
				<div class="work-item well row">
					<div class="col-md-6">
						<h3>Park Avenue Catering <small>2015</small></h3>
						<p><strong>Role</strong></p>
						<p>WordPress Theme Developer, Programmer</p>
						<p><strong>Tech</strong></p>
						<p>WordPress, PHP, JavaScript, HTML, CSS</p>
						<p><strong>Link</strong></p>
						<p><a target="_blank" href="https://parkavecater.com">https://parkavecater.com</a></p>
					</div>
					<div class="col-md-6">
						<img class="work-image" src="/static/img/slide006.png" alt="">
					</div>
				</div>
				
				<div class="work-item well row">
					<div class="col-md-6">
						<h3>Valencia Tile <small>2014</small></h3>
						<p><strong>Role</strong></p>
						<p>WordPress Theme Developer, Designer, Programmer, DevOps</p>
						<p><strong>Tech</strong></p>
						<p>WordPress, PHP, JavaScript, HTML, CSS</p>
						<p><strong>Link</strong></p>
						<p><a target="_blank" href="http://rvalenciatile.com">http://rvalenciatile.com</a></p>
					</div>
					<div class="col-md-6">
						<img class="work-image" src="/static/img/slide000.png" alt="">
					</div>
				</div>
				
				<div class="work-item well row">
					<div class="col-md-6">
						<h3>Table Church <small>2014</small></h3>
						<p><strong>Role</strong></p>
						<p>Front End Developer</p>
						<p><strong>Tech</strong></p>
						<p>JavaScript, CSS, Responsive Design</p>
						<p><strong>Link</strong></p>
						<p><a target="_blank" href="http://www.tablechurch.net/">http://www.tablechurch.net</a></p>
					</div>
					<div class="col-md-6">
						<img class="work-image" src="/static/img/slide001.png" alt="">
					</div>
				</div>
				
				<div class="work-item well row">
					<div class="col-md-6">
						<h3>Majestic Awning <small>2013</small></h3>
						<p><strong>Role</strong></p>
						<p>Developer, Designer</p>
						<p><strong>Tech</strong></p>
						<p>JavaScript, HTML, CSS, SEO</p>
						<p><strong>Link</strong></p>
						<p><a target="_blank" href="http://www.majestic-awning.com/">http://www.majestic-awning.com</a></p>
					</div>
					<div class="col-md-6">
						<img class="work-image" src="/static/img/slide004.png" alt="">
					</div>
				</div>
				
				<div class="work-item well row">
					<div class="col-md-6">
						<h3>Major Muffler <small>2013</small></h3>
						<p><strong>Role</strong></p>
						<p>Developer, Designer</p>
						<p><strong>Tech</strong></p>
						<p>JavaScript, HTML, CSS, SEO</p>
						<p><strong>Link</strong></p>
						<p><a target="_blank" href="http://www.major-muffler.com/">http://www.major-muffler.com</a></p>
					</div>
					<div class="col-md-6">
						<img class="work-image" src="/static/img/slide003.png" alt="">
					</div>
				</div>
				
				<div class="work-item well row">
					<div class="col-md-6">
						<h3>America's Best Value Inn - SF Golden Gate <small>2015</small></h3>
						<p><strong>Role</strong></p>
						<p>WordPress Theme Developer, Designer, Programmer</p>
						<p><strong>Tech</strong></p>
						<p>WordPress, JavaScript, HTML, CSS, SEO, Responsive Design</p>
						<p><strong>Link</strong></p>
						<p><em>No Longer Live</em></p>
						<p><strong>Notes</strong></p>
						<p>Unfortunately the hotel is no longer operational.</p>
					</div>
					<div class="col-md-6">
						<img class="work-image" src="/static/img/slide008.png" alt="">
					</div>
				</div>
				
				<div class="work-item well row">
					<div class="col-md-6">
						<h3>Sonoma County Lodging Association <small>2015</small></h3>
						<p><strong>Role</strong></p>
						<p>WordPress Theme Developer, Designer, Programmer</p>
						<p><strong>Tech</strong></p>
						<p>WordPress, JavaScript, HTML, CSS, Responsive Design</p>
						<p><strong>Link</strong></p>
						<p><em>No Longer Live</em></p>
						<p><strong>Notes</strong></p>
						<p>SCLA went with a different web company and took the site down.</p>
					</div>
					<div class="col-md-6">
						<img class="work-image" src="/static/img/slide007.png" alt="">
					</div>
				</div>
				
				<div class="work-item well row">
					<div class="col-md-6">
						<h3>Rydr - Ridesharing App <small>2016</small></h3>
						<p><strong>Role</strong></p>
						<p>Front End Developer, Lead Python Programmer</p>
						<p><strong>Tech</strong></p>
						<p>Python, Flask, JavaScript, Responsive Design, Oauth</p>
						<p><strong>Link</strong></p>
						<p><em>No Longer Live</em></p>
						<p><strong>Notes</strong></p>
						<p>This was my capstone project for Coding Dojo. <a href="https://github.com/RydrDojo/Ridr_app" target="_blank">Git Repo</a></p>
					</div>
					<div class="col-md-6">
						<img class="work-image" src="/static/img/rydr.jpg" alt="">
					</div>
				</div>



			</div>

		</div>

    </div><!-- .work -->

<% include partials/footer %>