<% include partials/header %>

    <div class="work banner">
		
		<div class="container">
			
			<h1><i class="fa fa-briefcase" aria-hidden="true"></i> Work <small>Proven Results</small></h1>

		</div>

    </div><!-- .work -->

<% include partials/footer %>